body {
	background-color: #dbd4c9;
	background-repeat: no-repeat;
}


.navbar {
   max-width: 2500px;
}


.container-fluid {
	background-image: url("immagini/firma-racine.jpeg");
	max-width: 1500px;	
	margin-top: 50px;
	margin-bottom: 30px;
	padding-bottom: 50px;
}

h2 {
	padding: 20px;
	padding-bottom: 40px;
}

#scopri {
	background-image: url("immagini/firma-persona.jpeg");
	margin-top: 60px;
	margin-bottom: 0;
}

.col-md-4, .col-md-7 {
	padding-top: 50px;
}

footer {
	background-color: #ebf7f6;
	max-width: 1500px;
}

